<form method="POST">
    <div class="categoryProducts-container">
        <h3 class="title">Thêm danh mục</h3>
        <div class="form-container">
            <div class="form-group">
                <label for="insert-category">Tên danh mục</label>
                <input type="text" class="form-control" name="nameCategory" id="insert-category">
                <div class="errorBox">
                    <span class="error-message"></span>
                </div>
            </div>
            <div class="form-group">
                <div id="editor" name="description"></div>
            </div>


            <div class="form-group">
                <span class="error-FromServer"></span>
            </div>

             <div class="form-group">
                <input type="submit" id="getDataCK"  class="btn-submit" value="Thêm">
            </div>

        </div>
    </div>
</form>