<table>
        <tr>
          <th>STT</th>
          <th>Tên</th>
          <th>Mô tả</th>
          <th>Danh sách sản phẩm</th>
          <th></th>
        </tr>
            {{#each categorys}} 

                <tr>
                    

                <td>1</td>
                <td>Tiến đùi gà</td>
                <td>Gà</td>
                <td>50</td>
                <td>

                    <a  href="/admin/category/insert">Thêm đê</a>
                </td>
                
                </tr>
            
         {{/each}}

        
        
      </table>
