<form method="POST">
    <div class="categoryProducts-container">
        <h3 class="title">Thêm sản phẩm</h3>
        <div class="form-container">
            <div class="form-group">
                <label for="insert-category">Tên sản phẩm</label>
                <input type="text" class="form-control" name="nameProduct" id="insert-category">
                <div class="errorBox">
                    <span class="error-message">Lỗi cmnr</span>
                </div>
            </div>

            <div class="form-group">
                <span class="error-FromServer"></span>
            </div>

             <div class="form-group">
                <input type="submit" class="btn-submit" value="Thêm">
            </div>

        </div>
    </div>
</form>