<form method="POST" enctype = "multipart/form-data" >
    <div class="products-container">
        <h3 class="title">Thêm sản phẩm</h3>
        <div class="form-container">
            <div class="form-group">
                <label for="name-product">Tên sản phẩm</label>
                <input type="text" id="name-product" class="form-control" name="nameProduct" >
                <div class="errorBox">
                    <span class="error-message"></span>
                </div>
            </div>

            <div class="form-group">
                <label>Tên danh mục</label>
                <select name="nameCategory" class="form-control form-select">
                    {{# each categories}}
                        <option value="{{this.slug}}">{{this.nameCategory}}</option>
                        {{else}}
                        <option value="">Chưa có danh mục nào</option>
                    {{/ each}}
                </select>
                <div class="errorBox">
                    <span class="error-message"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="price-product">Giá sản phẩm</label>
                <input type="text" class="form-control" id="price-product" name="priceProduct" >
                <div class="errorBox">
                    <span class="error-message"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="status-product">Tình trạng sản phẩm</label>
                <select name="statusProduct" id="status-product" class="form-control form-select">
                    <option value="1">Còn hàng</option>
                    <option value="2">Hết hàng</option>
                    <option value="3">Ngừng kinh doanh</option>
                </select>
                <div class="errorBox">
                    <span class="error-message"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="inventory-product">Tồn kho</label>
                <input type="text" id="inventory-product" class="form-control" name="inventoryProduct" >
                <div class="errorBox">
                    <span class="error-message"></span>
                </div>
            </div>

            <div class="form-group-image">
                <label class="label-image" for="image-product">Ảnh sản phẩm</label>
                <div class="preview-image">
                    <img src="" alt="image-product">
                </div>
                <input type="file" id="image-product" class="form-control-typeFile" required>
                <div class="errorBox">
                    <span class="error-message"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="description-product">Mô tả sản phẩm</label>
                <input type="text" id="description-product" class="form-control" name="descriptionProduct" >
                <div class="errorBox">
                    <span class="error-message"></span>
                </div>
            </div>

            <div class="form-group">
                <span class="error-FromServer">
                </span>
            </div>

             <div class="form-group">
                <input type="submit" class="btn-submit" value="Thêm">
            </div>

        </div>
    </div>
</form>