{{#each category}}
    <form method="POST" action="" class="formCategory">
        <div class="categoryProducts-container">
            <h3 class="title">Sửa danh mục</h3>
            
                <div class="form-container">
                    <div class="form-group">
                        <label for="insert-category">Nhập tên danh mục</label>
                        <input type="text" class="form-control" name="nameCategory" id="insert-category" value="{{this.nameCategory}}">
                        <div class="errorBox">
                            <span class="error-message"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="editor" name="description"></input>
                         <div class="errorBox">
                            <span class="error-message"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <span class="error-FromServer"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" id="getDataCK"  class="btn-submit" value="Sửa">
                    </div>

                </div>

        </div>
    </form>
{{/each}}

<script src="../js/admin-categoryUpdate.js" defer></script>