@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
:root {
  --white-color: #fff;
  --black-color: #000;
  --main-color: #0975f5;
  --text-color: #333;
  --red-color: #f30000;
  --errorBackground-color: #fcebe2;
  --textError-color: #cf4a22; }

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  scroll-behavior: smooth; }

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto; }

.grid__full-width {
  width: 100%; }

.gird__row {
  display: flex;
  flex-wrap: wrap; }

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

header {
  width: 100%;
  overflow: hidden;
  height: 60px;
  box-shadow: 0 0 5px 0.5px gray;
  position: fixed; }
  header .header__logo {
    float: left;
    min-width: 250px;
    font-size: 4rem;
    color: #fff;
    background-color: var(--main-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem; }
  header .header__slogan {
    float: left;
    overflow: hidden;
    min-width: calc(100% - 250px);
    height: 100%;
    background-color: #fff; }
    header .header__slogan .bars {
      width: 5%;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
      header .header__slogan .bars i {
        font-size: 1.5rem;
        opacity: 0.8;
        cursor: pointer;
        transition: ease 0.3s; }

.header__slogan .bars .rotate-bars {
  transform: rotate(90deg);
  transition: ease-in 0.3s; }

.header__slogan .navlink {
  min-width: 40%;
  display: flex;
  justify-content: flex-end;
  height: 100%; }
  .header__slogan .navlink .navlink__user {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    width: 5%;
    height: 100%; }

.navlink .navlink__user .showUser,
.showNoti {
  cursor: pointer; }

.header__slogan .navlink .navlink__user i:nth-child(2) {
  transform: translateY(-15%); }

.header__slogan .navlink .navlink__user .showUser i:nth-child(1),
.header__slogan .navlink .navlink__user .showNoti i:nth-child(1) {
  position: relative; }

.navlink__user .user-dropdown {
  position: fixed;
  top: 61.5px;
  right: 20px;
  min-width: 230px;
  background-color: rgba(0, 0, 0, 0.05);
  display: none; }
  .navlink__user .user-dropdown.showUsers {
    display: block;
    animation: showUserss linear 0.3s; }

.navlink__user .noti-dropdown {
  position: fixed;
  top: 61.5px;
  right: 100px;
  min-width: 230px;
  display: none; }
  .navlink__user .noti-dropdown.showNotis {
    display: block;
    animation: showUserss linear 0.3s; }
  .navlink__user .noti-dropdown ul {
    list-style-type: none; }
    .navlink__user .noti-dropdown ul li {
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid gray;
      background-color: rgba(0, 0, 0, 0.05); }
      .navlink__user .noti-dropdown ul li p {
        padding-right: 1.5rem;
        width: 100%; }
        .navlink__user .noti-dropdown ul li p:hover {
          color: var(--main-color); }
      .navlink__user .noti-dropdown ul li i {
        margin-right: 0.5rem; }
      .navlink__user .noti-dropdown ul li:last-child {
        color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        padding: 1rem 0;
        border-bottom: none;
        cursor: pointer; }
      .navlink__user .noti-dropdown ul li span {
        color: red;
        font-size: 0.8rem; }

.navlink__user .user-dropdown ul {
  list-style: none; }
  .navlink__user .user-dropdown ul li {
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center; }

.navlink__user .color {
  color: var(--main-color); }

.navlink__user .user-dropdown ul li:hover {
  color: var(--main-color); }

.navlink__user .user-dropdown ul li:nth-child(2) {
  border-bottom: 1px solid black; }

.navlink__user .user-dropdown ul li i {
  margin-right: 0.5rem; }

@keyframes showUserss {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.container-admin {
  overflow: hidden; }

.sidebar {
  float: left;
  position: fixed;
  width: 250px;
  height: 100%;
  left: 0px;
  background: #1b1b1b;
  transition: left 0.4s ease;
  margin-top: 60px; }
  .sidebar.hide {
    left: -250px; }
  .sidebar .text {
    color: #3e3e3e;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px; }

nav ul {
  background: #3e3e3e;
  height: 100%;
  width: 100%;
  list-style: none; }
  nav ul li {
    line-height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
    nav ul li:last-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
    nav ul li a {
      position: relative;
      color: white;
      text-decoration: none;
      font-size: 14px;
      padding-left: 40px;
      font-weight: 500;
      display: block;
      width: 100%;
      border-left: 3px solid transparent; }
    nav ul li.active a {
      color: var(--main-color);
      background: #1e1e1e;
      border-left-color: var(--main-color); }
    nav ul li a:hover {
      background: #1e1e1e; }
  nav ul ul {
    position: static;
    display: none; }
  nav ul .chart-show.show {
    display: block;
    animation: showHeight ease 0.5s; }
  nav ul .multi-show.show1 {
    display: block;
    animation: showHeight1 ease 0.5s; }
  nav ul ul li {
    line-height: 42px;
    border-top: none; }
    nav ul ul li a {
      font-size: 14px;
      color: #e6e6e6;
      padding-left: 40px; }
  nav ul li.active ul li a {
    color: white;
    background: #1b1b1b;
    border-left-color: transparent; }
  nav ul ul li a:hover {
    color: var(--main-color) !important;
    background: #1e1e1e !important; }
  nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 15px;
    transition: transform 0.4s; }
    nav ul li a span.rotate {
      transform: translateY(-50%) rotate(-180deg); }

@keyframes showHeight {
  from {
    opacity: 0;
    height: 0px; }
  to {
    opacity: 1;
    height: 85px; } }

@keyframes showHeight1 {
  from {
    opacity: 0;
    height: 0px; }
  to {
    opacity: 1;
    height: 127.5px; } }

.content {
  width: calc(100% - 250px);
  height: 1000vh;
  float: left;
  margin-left: 250px;
  margin-top: 60px;
  transition: ease-in 0.5s;
  padding: 50px; }
  .content .products-container {
    background: var(--white-color);
    margin: auto;
    padding: 16px;
    transition: all 0.5s ease; }
    .content .products-container .title {
      font-size: 2.6rem;
      margin: 24px 0;
      text-align: center;
      color: var(--main-color); }
    .content .products-container .form-container {
      width: 100%; }
      .content .products-container .form-container .form-group, .content .products-container .form-container .form-group-image {
        margin-bottom: 20px; }
        .content .products-container .form-container .form-group label, .content .products-container .form-container .form-group-image label {
          font-size: 1.6rem;
          font-weight: bold;
          color: #333; }
        .content .products-container .form-container .form-group .form-control, .content .products-container .form-container .form-group-image .form-control {
          width: 100%;
          outline: none;
          height: 30px;
          font-size: 1.4rem;
          padding: 18px 8px;
          margin: 8px 0;
          border: 1px solid #ccc;
          border-radius: 4px; }
        .content .products-container .form-container .form-group .form-select, .content .products-container .form-container .form-group-image .form-select {
          padding: 0 8px;
          height: 4rem; }
        .content .products-container .form-container .form-group .btn-submit, .content .products-container .form-container .form-group-image .btn-submit {
          width: 10%;
          padding: 8px;
          font-size: 1.6rem;
          outline: none;
          border: none;
          color: var(--white-color);
          border-radius: 4px;
          background-color: var(--main-color);
          cursor: pointer; }
        .content .products-container .form-container .form-group .errorBox .error-message, .content .products-container .form-container .form-group-image .errorBox .error-message {
          margin-left: 4px;
          display: flex;
          align-items: center;
          justify-content: start;
          color: var(--red-color);
          font-size: 1.4rem; }
          .content .products-container .form-container .form-group .errorBox .error-message .exclamationMark, .content .products-container .form-container .form-group-image .errorBox .error-message .exclamationMark {
            background-color: var(--red-color);
            width: 14px;
            height: 14px;
            border-radius: 50%;
            color: var(--white-color);
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 2px; }
        .content .products-container .form-container .form-group .error-FromServer, .content .products-container .form-container .form-group-image .error-FromServer {
          font-size: 1.4rem;
          color: var(--red-color); }
      .content .products-container .form-container .form-group-image .label-image {
        display: block;
        width: 180px;
        height: 40px;
        text-align: center;
        background: var(--main-color);
        cursor: pointer;
        border-radius: 6px;
        color: var(--white-color);
        line-height: 40px; }
      .content .products-container .form-container .form-group-image .form-control-typeFile {
        display: none; }
      .content .products-container .form-container .form-group-image .preview-image {
        width: 250px;
        margin: 10px 0; }
        .content .products-container .form-container .form-group-image .preview-image img {
          width: 100%; }
    .content .products-container .border-modalForm {
      display: flex;
      align-items: center; }
      .content .products-container .border-modalForm p {
        margin: 0 6px;
        font-size: 1.6rem;
        color: #ccc; }
      .content .products-container .border-modalForm .leftBorder-modal, .content .products-container .border-modalForm .rightBorder-modal {
        height: 1px;
        width: 100%;
        background-color: #dbdbdb; }
    .content .products-container .text-suggest {
      text-align: center;
      margin-top: 6px;
      font-size: 1.4rem;
      color: #333; }
      .content .products-container .text-suggest a {
        text-decoration: none;
        color: var(--main-color); }
    .content .products-container .close-modal {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 2.4rem;
      cursor: pointer;
      padding: 12px; }
      .content .products-container .close-modal:hover {
        background-color: #ccc;
        color: #757575; }
  .content .categoryProducts-container {
    background: var(--white-color);
    margin: auto;
    padding: 16px;
    transition: all 0.5s ease; }
    .content .categoryProducts-container .title {
      font-size: 2.6rem;
      margin: 24px 0;
      text-align: center;
      color: var(--main-color); }
    .content .categoryProducts-container .form-container {
      width: 100%; }
      .content .categoryProducts-container .form-container .form-group, .content .categoryProducts-container .form-container .form-group-image {
        margin-bottom: 20px; }
        .content .categoryProducts-container .form-container .form-group label, .content .categoryProducts-container .form-container .form-group-image label {
          font-size: 1.6rem;
          font-weight: bold;
          color: #333; }
        .content .categoryProducts-container .form-container .form-group .form-control, .content .categoryProducts-container .form-container .form-group-image .form-control {
          width: 100%;
          outline: none;
          height: 30px;
          font-size: 1.4rem;
          padding: 18px 8px;
          margin: 8px 0;
          border: 1px solid #ccc;
          border-radius: 4px; }
        .content .categoryProducts-container .form-container .form-group .form-select, .content .categoryProducts-container .form-container .form-group-image .form-select {
          padding: 0 8px;
          height: 4rem; }
        .content .categoryProducts-container .form-container .form-group .btn-submit, .content .categoryProducts-container .form-container .form-group-image .btn-submit {
          width: 10%;
          padding: 8px;
          font-size: 1.6rem;
          outline: none;
          border: none;
          color: var(--white-color);
          border-radius: 4px;
          background-color: var(--main-color);
          cursor: pointer; }
        .content .categoryProducts-container .form-container .form-group .errorBox .error-message, .content .categoryProducts-container .form-container .form-group-image .errorBox .error-message {
          margin-left: 4px;
          display: flex;
          align-items: center;
          justify-content: start;
          color: var(--red-color);
          font-size: 1.4rem; }
          .content .categoryProducts-container .form-container .form-group .errorBox .error-message .exclamationMark, .content .categoryProducts-container .form-container .form-group-image .errorBox .error-message .exclamationMark {
            background-color: var(--red-color);
            width: 14px;
            height: 14px;
            border-radius: 50%;
            color: var(--white-color);
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 2px; }
        .content .categoryProducts-container .form-container .form-group .error-FromServer, .content .categoryProducts-container .form-container .form-group-image .error-FromServer {
          font-size: 1.4rem;
          color: var(--red-color); }
      .content .categoryProducts-container .form-container .form-group-image .label-image {
        display: block;
        width: 180px;
        height: 40px;
        text-align: center;
        background: var(--main-color);
        cursor: pointer;
        border-radius: 6px;
        color: var(--white-color);
        line-height: 40px; }
      .content .categoryProducts-container .form-container .form-group-image .form-control-typeFile {
        display: none; }
      .content .categoryProducts-container .form-container .form-group-image .preview-image {
        width: 250px;
        margin: 10px 0; }
        .content .categoryProducts-container .form-container .form-group-image .preview-image img {
          width: 100%; }
    .content .categoryProducts-container .border-modalForm {
      display: flex;
      align-items: center; }
      .content .categoryProducts-container .border-modalForm p {
        margin: 0 6px;
        font-size: 1.6rem;
        color: #ccc; }
      .content .categoryProducts-container .border-modalForm .leftBorder-modal, .content .categoryProducts-container .border-modalForm .rightBorder-modal {
        height: 1px;
        width: 100%;
        background-color: #dbdbdb; }
    .content .categoryProducts-container .text-suggest {
      text-align: center;
      margin-top: 6px;
      font-size: 1.4rem;
      color: #333; }
      .content .categoryProducts-container .text-suggest a {
        text-decoration: none;
        color: var(--main-color); }
    .content .categoryProducts-container .close-modal {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 2.4rem;
      cursor: pointer;
      padding: 12px; }
      .content .categoryProducts-container .close-modal:hover {
        background-color: #ccc;
        color: #757575; }
    .content .categoryProducts-container .title {
      margin-bottom: 5%; }
    .content .categoryProducts-container .form-container .form-group .ck-editor__editable_inline, .content .categoryProducts-container .form-container .form-group-image .ck-editor__editable_inline {
      height: 400px;
      overflow-y: auto; }
  .content.expand-content {
    width: 100%;
    margin-left: 0;
    transition: ease 0.3s; }
  .content .header-categories .title-table {
    font-size: 3rem;
    color: var(--main-color);
    margin: 40px 0;
    text-align: center; }
  .content .header-categories .button-function {
    margin-bottom: 20px; }
    .content .header-categories .button-function a {
      text-decoration: none; }
      .content .header-categories .button-function a .btn-delete {
        min-width: 40px;
        padding: 6px 30px;
        outline: none;
        color: var(--white-color);
        border: none;
        border-radius: 4px;
        background-color: #dc3545;
        font-size: 1.6rem;
        cursor: pointer; }
        .content .header-categories .button-function a .btn-delete.disabled {
          opacity: 0.6;
          pointer-events: none; }
      .content .header-categories .button-function a .btn-insert {
        min-width: 40px;
        padding: 6px 30px;
        outline: none;
        color: var(--white-color);
        border: none;
        border-radius: 4px;
        background-color: var(--main-color);
        font-size: 1.6rem;
        cursor: pointer; }
        .content .header-categories .button-function a .btn-insert.disabled {
          opacity: 0.6;
          pointer-events: none; }
      .content .header-categories .button-function a .btn-update {
        min-width: 40px;
        padding: 6px 15px;
        outline: none;
        color: var(--white-color);
        border: none;
        border-radius: 4px;
        background-color: #28a745;
        font-size: 1.6rem;
        cursor: pointer;
        float: right; }
        .content .header-categories .button-function a .btn-update.disabled {
          opacity: 0.6;
          pointer-events: none; }
  .content .header-categories table {
    width: 100%;
    border-collapse: collapse; }
  .content .header-categories th,
  .content .header-categories td {
    border: 1px solid black;
    font-size: 2rem;
    padding: 15px;
    text-align: center;
    max-width: 200px;
    overflow-wrap: break-word;
    line-height: 2.2rem; }
    .content .header-categories th .image-product,
    .content .header-categories td .image-product {
      width: 100px; }
      .content .header-categories th .image-product img,
      .content .header-categories td .image-product img {
        width: 100%; }
    .content .header-categories th .btn-update,
    .content .header-categories td .btn-update {
      min-width: 40px;
      padding: 6px 30px;
      outline: none;
      color: var(--white-color);
      border: none;
      border-radius: 4px;
      background-color: #28a745;
      font-size: 1.6rem;
      cursor: pointer; }
      .content .header-categories th .btn-update.disabled,
      .content .header-categories td .btn-update.disabled {
        opacity: 0.6;
        pointer-events: none; }
  .content .header-products .title-table {
    font-size: 3rem;
    color: var(--main-color);
    margin: 40px 0;
    text-align: center; }
  .content .header-products .button-function {
    margin-bottom: 20px; }
    .content .header-products .button-function a {
      text-decoration: none; }
      .content .header-products .button-function a .btn-delete {
        min-width: 40px;
        padding: 6px 30px;
        outline: none;
        color: var(--white-color);
        border: none;
        border-radius: 4px;
        background-color: #dc3545;
        font-size: 1.6rem;
        cursor: pointer; }
        .content .header-products .button-function a .btn-delete.disabled {
          opacity: 0.6;
          pointer-events: none; }
      .content .header-products .button-function a .btn-insert {
        min-width: 40px;
        padding: 6px 30px;
        outline: none;
        color: var(--white-color);
        border: none;
        border-radius: 4px;
        background-color: var(--main-color);
        font-size: 1.6rem;
        cursor: pointer; }
        .content .header-products .button-function a .btn-insert.disabled {
          opacity: 0.6;
          pointer-events: none; }
      .content .header-products .button-function a .btn-update {
        min-width: 40px;
        padding: 6px 15px;
        outline: none;
        color: var(--white-color);
        border: none;
        border-radius: 4px;
        background-color: #28a745;
        font-size: 1.6rem;
        cursor: pointer;
        float: right; }
        .content .header-products .button-function a .btn-update.disabled {
          opacity: 0.6;
          pointer-events: none; }
  .content .header-products table {
    width: 100%;
    border-collapse: collapse; }
  .content .header-products th,
  .content .header-products td {
    border: 1px solid black;
    font-size: 2rem;
    padding: 15px;
    text-align: center;
    max-width: 200px;
    overflow-wrap: break-word;
    line-height: 2.2rem; }
    .content .header-products th .image-product,
    .content .header-products td .image-product {
      width: 100px; }
      .content .header-products th .image-product img,
      .content .header-products td .image-product img {
        width: 100%; }
    .content .header-products th .btn-update,
    .content .header-products td .btn-update {
      min-width: 40px;
      padding: 6px 30px;
      outline: none;
      color: var(--white-color);
      border: none;
      border-radius: 4px;
      background-color: #28a745;
      font-size: 1.6rem;
      cursor: pointer; }
      .content .header-products th .btn-update.disabled,
      .content .header-products td .btn-update.disabled {
        opacity: 0.6;
        pointer-events: none; }
