        <footer class="footer">
            <div class="footer__top">
                <div class="footer__top-content">
                    <div class="footer__top-icon">
                        <img src="./img/icon-footer/policy_icon_1.png" alt="">
                    </div>
                    <div class="footer__top-text">
                        <p>Giao hàng nhanh chóng.</p>
                        <p>Miễn phí với đơn hàng trên 3 triệu.</p>
                    </div>
                </div>

                <div class="footer__top-content">
                    <div class="footer__top-icon">
                        <img src="./img/icon-footer/policy_icon_2.png" alt="">
                    </div>
                    <div class="footer__top-text">
                        <p>Chính sách bảo hành</p>
                        <p>Bảo hành 12 tháng, đổi trả 15 ngày.</p>
                    </div>
                </div>

                <div class="footer__top-content">
                    <div class="footer__top-icon">
                        <img src="./img/icon-footer/policy_icon_3.png" alt="">
                    </div>
                    <div class="footer__top-text">
                        <p>Hỗ trợ 24/7</p>
                        <p>Với các kênh chat, email & phone</p>
                    </div>
                </div>

            </div>        
        </footer>
        <hr>
        <div class="footer__bot">
            <div class="footer__bot-content ftb1">
                <h4>Giới thiệu</h4>
                <p>Trang mua sắm trực tuyến nội thất mang phong cách việt, giúp bạn cập nhập và nắm bắt xu hướng mới</p>
                <img src="./img/icon-footer/logo_bct.png" alt="" width="174px" height="65px">
            </div>

            <div class="footer__bot-content ftb2">
                <h4>Liên kết</h4>
                <ul>
                    <li><p>Giới thiệu</p></li>
                    <li><p>Chính sách đổi trả</p></li>
                    <li><p>Chính sách bảo mật</p></li>
                    <li><p>Điều khoản dịch vụ</p></li>
                    <li><p>Tìm kiếm</p></li>
                </ul>
            </div>

            <div class="footer__bot-content ftb3">
                <h4>Thông tin liên hệ</h4>
                <p><i class="fas fa-map-marker-alt"></i>Tầng 4, tòa nhà Flemington, số 182, đường Lê Đại Hành, phường 15, quận 11, Tp. Hồ Chí Minh.</p>
                <p><i class="fas fa-phone-alt"></i>1900.636.099</p>
                <p><i class="fas fa-tty"></i>1900.636.099</p>
                <p><i class="fas fa-envelope"></i>hi@haravan.com</p>
            </div>
        </div>
    </div>
    <hr>
    <p class="nocopy">Copyright © 2021 Urban Home. Powered by Haravan</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/-5KAN9_CzSA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>