 <header class="header" id="top">
            <div class="header__top">
                <p class="header__top-slogan">Trang mua hàng nội thất trực tuyến chính hãng!</p>
            </div>
            <div class="header__mid">
                <input class="hello" hidden type="checkbox" id="checkbox-nav">
                <div  class="bars">
                    <label class="check-bars" for="checkbox-nav"><i id="click-bars" class=" fas fa-bars"></i></label>
                </div> 
                <div class="navbar-rpsive">
                    <ul>
                        <li> <a href="#"> TRANG CHỦ </a></li>
                        <li> <a href="#"> SẢN PHẨM </a></li>
                        <li> <a href="#"> BLOG </a></li>
                        <li> <a href="#"> PRODUCT VIEW </a></li>
                        <li> <a href="#"> LIÊN HỆ </a></li>
                        <li> <a href="#"> GIỚI THIỆU </a></li>
                    </ul>
                </div>
                <div class="header__mid-left">
                    <div class="header__mid-left-name">
                        <a class="header__mid-left-link" href="#">Urban Home</a>
                    </div>

                    <div class="header__mid-left-search">
                        <div class="header__mid-left-iconinput">
                            <input class="header__mid-left-input" type="text">
                            <i class="header__mid-icon fas fa-search"></i>
                        </div>
                    </div>
                </div>

                <div class="header__mid-right">
                    <div class="header__mid-right-hotline header__mid-box-icon">
                        <div class="header__mid-right-icon">
                            <svg class="header__mid-right-icon-item svg-ico-hotline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path d="m123.832031 475.464844c39.558594 23.804687 84.789063 36.351562 131.261719 36.351562 140.824219 0 256.90625-114.914062 256.90625-255.910156 0-140.832031-115.917969-255.90625-256.90625-255.90625-140.558594 0-254.910156 114.800781-254.910156 255.90625 0 47.09375 12.550781 92.667969 36.351562 132.257812l-36.535156 123.835938zm-93.65625-219.558594c0-124.570312 100.898438-225.917969 224.917969-225.917969 125.121094 0 226.917969 101.347657 226.917969 225.917969 0 124.574219-101.796875 225.917969-226.917969 225.917969-43.054688 0-84.894531-12.195313-120.984375-35.273438l-5.765625-3.683593-83.988281 24.78125 24.777343-83.992188-3.683593-5.761719c-23.078125-36.097656-35.273438-78.277343-35.273438-121.988281zm0 0" data-original="#000000" class="active-path" data-old_color="#000000"></path><path d="m124.628906 208.753906c4.953125 26.011719 19.65625 76.042969 62.464844 118.851563 42.808594 42.808593 92.839844 57.515625 118.855469 62.46875 29.789062 5.671875 73.503906 6.527343 94.867187-14.835938l11.910156-11.910156c6.011719-6.011719 9.324219-14.007813 9.324219-22.511719s-3.3125-16.496094-9.324219-22.507812l-47.628906-47.628906c-6.015625-6.015626-14.007812-9.324219-22.511718-9.324219-8.503907 0-16.496094 3.308593-22.511719 9.324219l-11.90625 11.90625c-7.273438 7.273437-21.003907 7.304687-28.332031.089843l-47.507813-49.5c-.070313-.074219-.140625-.148437-.214844-.21875-7.285156-7.285156-7.285156-19.140625 0-26.425781l11.90625-11.90625c12.445313-12.445312 12.445313-32.582031 0-45.023438l-47.628906-47.628906c-12.410156-12.410156-32.605469-12.410156-45.019531 0l-11.90625 11.910156v-.003906c-17.050782 17.054688-22.734375 53.40625-14.835938 94.875zm36.042969-73.664062c12.5-12.214844 11.832031-12.449219 13.210937-12.449219.472657 0 .945313.179687 1.304688.539063 50.1875 50.457031 48.171875 47.492187 48.171875 48.9375 0 .503906-.183594.945312-.539063 1.304687l-11.910156 11.90625c-18.964844 18.964844-19.039062 49.664063-.121094 68.714844l47.535157 49.53125c.074219.070312.144531.144531.21875.21875 18.960937 18.960937 51.808593 19.023437 70.832031 0l11.90625-11.90625c.71875-.71875 1.890625-.71875 2.609375 0 50.1875 50.453125 48.171875 47.488281 48.171875 48.933593 0 .507813-.183594.945313-.539062 1.304688l-11.910157 11.90625c-8.160156 8.160156-34.152343 13.042969-68.054687 6.585938-22.625-4.3125-66.128906-17.085938-103.257813-54.214844-37.128906-37.128906-49.902343-80.632813-54.210937-103.257813-6.460938-33.902343-1.578125-59.898437 6.582031-68.054687zm0 0" data-original="#000000" class="active-path" data-old_color="#000000"></path></g></svg>
                        </div>
                        <span class="header__mid_right-text">
                            Hotline:
                            <p>1900.636.099</p>
                        </span>
                    </div>
                    <div class="header__mid-right-account header__mid-box-icon">
                        <div class="header__mid-right-icon">
                            <svg class="header__mid-right-icon-item svg-ico-account" viewBox="0 0 20 22">
                                <path d="M10 13c2.82 0 5.33.64 6.98 1.2A3 3 0 0 1 19 17.02V21H1v-3.97a3 3 0 0 1 2.03-2.84A22.35 22.35 0 0 1 10 13zm0 0c-2.76 0-5-3.24-5-6V6a5 5 0 0 1 10 0v1c0 2.76-2.24 6-5 6z" stroke="currentColor" stroke-width="2" fill="none"></path>
                            </svg>
                        </div>
                        <span class="header__mid_right-text loginModal">
                            Đăng nhập / Đăng ký
                        </span>
                    </div>
                    <div class="header__mid-right-cart header__mid-box-icon header__mid-cart-iconnumber">
                        <div class="cart-icon-number">
                            <div class="header__mid-right-icon">
                                <svg class="header__mid-right-icon-item svg-ico-cart" viewBox="0 0 27 24"><g transform="translate(0 1)" stroke-width="2" stroke="currentColor" fill="none" fill-rule="evenodd">
                                    <circle stroke-linecap="square" cx="11" cy="20" r="2"></circle>
                                    <circle stroke-linecap="square" cx="22" cy="20" r="2"></circle>
                                    <path d="M7.31 5h18.27l-1.44 10H9.78L6.22 0H0"></path>
                                </g>
                            </svg>
                                <span class="number-oncart">0</span>
                            </div>
                        </div>
                        <span class="header__mid_right-text">
                            Giỏ hàng
                        </span>
                    </div>
                </div>

            </div>
            <div class="input-search-rpsive">
                <input type="text">
                <div class="icon-search-rpsive">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="header__bot">
                <div class="header__bot-container">
                    <ul class="header__bot-list">
                        <li class="header__bot-item">
                            <a class="header__bot-item-link" href="">TRANG CHỦ
                                <i class="arrow-down-list fas fa-chevron-down"></i>
                            </a>
                            <ul class="header__bot-list-sub">
                                <li class="header__bot-list-sub-item"><a href="">Kiểu hiển thị header 1</a></li>
                                <li class="header__bot-list-sub-item"><a href="">Kiểu hiển thị header 2</a></li>
                                <li class="header__bot-list-sub-item"><a href="">Kiểu hiển thị header 3</a></li>
                            </ul>
                        </li> 
                        <li class="header__bot-item">
                        <a class="header__bot-item-link" href="">SẢN PHẨM
                            <i class="arrow-down-list fas fa-chevron-down"></i>
                        </a>
                        <ul class="header__bot-list-sub">
                            <li class="header__bot-list-sub-item"><a href="">Sản phẩm khuyến mãi</a></li>
                            <li class="header__bot-list-sub-item"><a href="">Nội thất phòng khách</a></li>
                            <li class="header__bot-list-sub-item"><a href="">Nội thất phòng ngủ</a></li>
                            <li class="header__bot-list-sub-item"><a href="">Phụ kiện trang trí</a></li>
                        </ul>
                        </li>
                        <li class="header__bot-item">
                        <a class="header__bot-item-link" href="">PRODUCT VIEW
                            <i class="arrow-down-list fas fa-chevron-down"></i>
                        </a>
                        <ul class="header__bot-list-sub">
                            <li class="header__bot-list-sub-item"><a href="">Product view 01</a></li>
                            <li class="header__bot-list-sub-item"><a href="">Product view 02</a></li>
                            <li class="header__bot-list-sub-item"><a href="">Product view 03</a></li>
                        </ul>
                        </li>    
                        <li class="header__bot-item"><a class="header__bot-item-link" href="">BLOG</a></li>
                        <li class="header__bot-item"><a class="header__bot-item-link" href="">GIỚI THIỆU</a></li>
                        <li class="header__bot-item"><a class="header__bot-item-link" href="">LIÊN HỆ</a></li>
                    </ul>
                </div>
            </div>
        </header>


<div class="modals">
    {{!-- //////////////////////////////// Modal BackGround //////////////////////////////// --}}
    <div class="modal-backgroundColor"></div>

    {{!-- //////////////////////////////// Modal Forms //////////////////////////////// --}}
    <div class="modal-container">

        {{!-- //// Login form ////// --}}
        <form action="">
            <div class="modal-loginForm">
                <div class="title">
                    <h3>Đăng Nhập</h3>
                </div>
                <div class="form-container">
                    <div class="form-group">
                        <label for="username">Tài khoản</label>
                        <input type="text" id="username" name="username" class="form-control">
                        <div class="errorBox">
                            <span class="error-message"> <span class="exclamationMark">!</span>   Lỗi cmnr</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Mật khẩu</label>
                        <input type="password" id="password" name="password" class="form-control" autocomplete="on" >
                        <div class="errorBox">
                            <span class="error-message"> <span class="exclamationMark">!</span>   Lỗi cmnr</span>
                        </div>
                    </div>
                    <div class="form-group">
                         <span class="error-FromServer"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn-submit" value="Đăng Nhập">
                    </div>
                </div>

                <div class="close-modal">
                    x
                </div>

                <div class="border-modalForm">
                    <div class="leftBorder-modal"></div>
                    <p>Hoặc</p>
                    <div class="rightBorder-modal"></div>
                </div>

                <p class="text-suggest">
                    Chưa có à phèn vậy <a href="#">Đăng ký liền !!!!!</a>
                </p>
            </div>
        </form>

        {{!-- //// Register form ////// --}}
        <form action="">
            <div class="modal-registerForm">
                <div class="title">
                    <h3>Đăng Ký</h3>
                </div>
                <div class="form-container">
                    <div class="form-group">
                        <label for="fullname">Họ và tên</label>
                        <input type="text" id="fullname" name="fullname" class="form-control">
                        <div class="errorBox">
                            <span class="error-message"> <span class="exclamationMark">!</span>   Lỗi cmnr</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="RegisterUsername">Tài khoản</label>
                        <input type="text" id="RegisterUsername" name="RegisterUsername" class="form-control">
                        <div class="errorBox">
                            <span class="error-message"> <span class="exclamationMark">!</span>   Lỗi cmnr</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="RegisterPassword">Mật khẩu</label>
                        <input type="password" id="RegisterPassword" name="RegisterPassword" class="form-control" autocomplete="on">
                        <div class="errorBox">
                            <span class="error-message"> <span class="exclamationMark">!</span>   Lỗi cmnr</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reRegisterPassword">Nhập lại mật khẩu</label>
                        <input type="password" id="reRegisterPassword" name="reRegisterPassword" class="form-control" autocomplete="on">
                        <div class="errorBox">
                            <span class="error-message"> <span class="exclamationMark">!</span>   Lỗi cmnr</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phonenumber">Số điện thoại</label>
                        <input type="text" id="phonenumber" name="phonenumber" class="form-control">
                        <div class="errorBox">
                            <span class="error-message"> <span class="exclamationMark">!</span>   Lỗi cmnr</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address">Địa chỉ</label>
                        <input type="text" id="address" name="address" class="form-control">
                        <div class="errorBox">
                            <span class="error-message"> <span class="exclamationMark">!</span>   Lỗi cmnr</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn-submit" value="Đăng Ký">
                    </div>
                </div>

                <div class="close-modal">
                    x
                </div>

                <div class="border-modalForm">
                    <div class="leftBorder-modal"></div>
                    <p>Hoặc</p>
                    <div class="rightBorder-modal"></div>
                </div>

                <p class="text-suggest">
                    Có rồi mà quên à địt mẹ <a href="#">Đăng nhập !!!!!</a>
                </p>
            </div>
        </form>

    </div>


</div>


    {{!-- //// Back to top button ////// --}}
    <a href="#top" class="container-backToTop">
        <div class="backToTop">
             <i class="fas fa-arrow-up icon-backToTop"></i>
        </div>
    </a>