<div class="path">
        <a href="/">Trang chủ</a> 
        <span> / </span>
        <a href="/cart">Chi tiết giỏ hàng</a>
        <span> / </span>
        <a href="/checkout-cart">Xác nhận đơn hàng</a>
</div>

<div class="container-cartDetails">
    <div class="items-cartDetails">
        <h3 class="title-cartDetails">
            THÔNG TIN SẢN PHẨM
        </h3>
  
     
   
    </div>
    <div class="information-cartDetails">
            <div class="payment-confirmation">
                <h3>THÔNG TIN GIỎ HÀNG</h3>
                <div class="totalQuantity-cartDetails">
                    <p>Số lượng sản phẩm:</p>
                    <p> 
                        {{#if cart}}
                            {{cart.totalQuantity}} 
                            {{else}}
                            0
                        {{/if}}
                    </p>
                </div>
                <div class="totalPrice-cartDetails">
                    <p>Tổng chi phí:</p>
                    <p>{{number cart.totalPrice}} đ</p>
                </div>
                <p class="tax-cartDetails">
                    Đã bao gồm VAT (nếu có)
                </p>

                 {{#ifLogic cart.totalQuantity "==" 0}}            
                    <button class="btn-confirmOrder disabled-confirmOrder">Xác nhận đơn hàng</button>
                    {{else}}
                     <button class="btn-confirmOrder">Xác nhận đơn hàng</button>
                {{/ifLogic}}


                <button class="btn-deleteAllOrder">Xóa giỏ hàng</button>
                <a href="/all">
                    <button class="btn-viewOtherProduct">Xem sản phẩm khác</button>
                </a>


            </div>
            <div class="policy-cartDetails">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="#27AE60"></path> <path d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z" fill="white" stroke="white"></path></svg>
                Hỗ trợ trả góp 0%, trả trước 0đ
            </div>
            <div class="policy-cartDetails">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="#27AE60"></path> <path d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z" fill="white" stroke="white"></path></svg>
                Hoàn tiền 200% khi phát hiện hàng giả
            </div>
            <div class="policy-cartDetails">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="#27AE60"></path> <path d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z" fill="white" stroke="white"></path></svg>
                Giao hàng nhanh 3H nội thành Hà Nội
            </div>
            <div class="policy-cartDetails">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="#27AE60"></path> <path d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z" fill="white" stroke="white"></path></svg>
                Giao hàng từ 5 - 7 ngày toàn quốc
            </div>
            <div class="policy-cartDetails">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="#27AE60"></path> <path d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z" fill="white" stroke="white"></path></svg>
                Đội ngũ kĩ thuật hỗ trợ online 7/7
            </div>
       
    </div>
</div>

<script src="../js/paymentConfirm.js" defer></script>
<script src="../js/delete-allCart.js" defer></script>