<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../css/admin.css" />
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        />
    </head>
    <body>
        <header>
            <div class="header__logo">
                <i class="fas fa-tools"></i>
                <span>Triet cc</span>
            </div>
            <div class="header__slogan">
                <div class="bars btn">
                    <i class="fas fa-bars" id="bars-rotate"></i>
                </div>
                <div class="navlink">
                    <div class="navlink__user">
                        <div class="showNoti">
                            <i class="fas fa-bell"></i>
                            <i class="fas fa-sort-down"></i>
                        </div>
                        <div class="noti-dropdown">
                            <ul>
                                <li>
                                    <i class="fas fa-comment"></i>
                                    <p>New Comment</p>
                                    <span>4min</span>
                                </li>
                                <li>
                                    <i class="fab fa-twitter"></i>
                                    <p>Follower</p>
                                    <span>12min</span>
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <p>Message Sent</p>
                                    <span>36min</span>
                                </li>
                                <li>
                                    <i class="fas fa-tasks"></i>
                                    <p>Mission Task</p>
                                    <span>20min</span>
                                </li>
                                <li>
                                    <i class="fas fa-upload"></i>
                                    <p>Sever Rebooted</p>
                                    <span>30min</span>
                                </li>
                                <li>See All Alerts ></li>
                            </ul>
                        </div>
                    </div>

                    <div class="navlink__user">
                        <div class="showUser">
                            <i class="fas fa-user"></i>
                            <i class="fas fa-sort-down"></i>
                        </div>
                        <div class="user-dropdown">
                            <ul>
                                <li>
                                    <i class="fas fa-user"></i>
                                    User Profile
                                </li>
                                <li>
                                    <i class="fas fa-cogs"></i>
                                    Settings
                                </li>
                                <li>
                                    <i class="fas fa-sign-out-alt"></i>
                                    Logout
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-admin">
            <nav class="sidebar">
                <ul>
                    <li class="active"><a href="/admin">Trang chủ</a></li>
                    <li><a href="/admin/category">Danh mục sản phẩm</a></li>
                    <li>
                        <a href="#" class="charts-btn">
                            Elements
                            <span class="fas fa-caret-down first"></span>
                        </a>
                        <ul class="chart-show">
                            <li><a href="#">Charts JS</a></li>
                            <li><a href="#">Morris Chart</a></li>
                            <li><a href="#">Morris Chart</a></li>
                        </ul>
                    </li>
                    <li><a href="/admin/product">Sản Phẩm</a></li>
                    <li><a href="#">Reponsive Tables</a></li>
                    <li><a href="#">Forms</a></li>
                    <li>
                        <a href="#" class="multi-btn"
                            >Multi-Level Dropdown
                            <span class="fas fa-caret-down second"></span>
                        </a>
                        <ul class="multi-show">
                            <li><a href="#">Second Level Link</a></li>
                            <li><a href="#">Second Level Link</a></li>
                            <li><a href="#">Second Level Link</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Empty Page</a></li>
                </ul>
            </nav>
                {{!-- ////////////////////////////////// Content ////////////////////////////////// --}}
                <div class="content">
                    {{{body}}}
                </div>
        </div>
    </body>
    <script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
    <script>
        var dataClassicEditor;
        ClassicEditor
                .create( document.querySelector( '#editor' ) )
                .then( editor => {
                    dataClassicEditor = editor;
                        //console.log( editor );
                } )
                .catch( error => {
                        console.error( error );
                } );
                //get data from CKEditor
        function getDataFromTheEditor() {
            return dataClassicEditor.getData();
        }
        //listen input submit
        document.getElementById('getDataCK').addEventListener('click', () => {
            var getData = getDataFromTheEditor();
            console.log(getData);
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/admin.js"></script> 
    <script src="../js/admin-productInsert.js"></script> 
    <script src="../js/admin-category.js"></script> 

</html>
